
#waveform-switch {
    *{
        margin: 0;
        padding: 0;
      }
      html, body{
        height: 100%;
      }
      body{
        margin-bottom: auto;
        background: #282828;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      button{
        border: none;
        outline: antiquewhite;
        padding: 13px 16px;
        font-size: 18px;
        background: #ce08a3;
        color: #ecf001;
        border-radius: 2px;
        box-shadow: 3px 5px 10px #55015e;
        margin: 20px;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.5s;
      }
      button:before, button:after{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 2px;
        background: inherit;
        opacity: 0.8;
        transform-style: preserve-3d;
        transition: transform 0.5s;
      }
      button:after{
        background: inherit;
        opacity: 0.6;
      }
      button:hover{
        transform: skew(20deg) rotateX(20deg) rotateY(20deg) rotateZ(10deg) translateY(-20px);
      }
      button:hover:before{
        transform: perspective(1000px) translateZ(25px);
      }
      button:hover:after{
        transform: perspective(1000px) translateZ(50px);
      }
}

.game-page {
    font-family: "Audiowide", sans-serif;
    font-size: 1em;
    color: rgb(224, 234, 245);
    text-shadow: 1px 1px 2px rgb(228, 131, 227), 0 0 1em rgb(145, 4, 148), 0 0 0.2em rgb(84, 4, 82);            
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.controls {
    margin-bottom: 1px;
    display: flex;
}

.knobs {
    display: flex;
    justify-content: center;
    gap: auto ;
    margin-top: auto ;
}

.knob-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.knob {
    width: 5em;
    height: 5em;
    border-radius: 59%;
    background-image: radial-gradient(#e02df0, yellow);
    position: relative;
    cursor: pointer;
    transform: rotate(0deg); /* Initial rotation */
    border: 2px solid #21071c;
}


.knob::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #4f0377;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
.knob::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #0acf5f;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.knob-label {
    margin-top: 10px;
    font-family: "Audiowide", sans-serif;
    font-size: 1.2em;
    color: #ed0394;
}

.switch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    font-family: "Audiowide", sans-serif;
    color: #fff;
}

#waveform-switch {
    margin-top: 10px;
    padding: 5px;
    font-size: 1em;
}

.fretboard {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 0.1em;
    margin: 3em;
    margin-bottom: 21em;
    margin-left: 5em;
    /*color for the fretboard */
    background: transparent;
    -webkit-background-clip: text, black;
    text-shadow: 1px 0px 1px #da5eb0;
    border-radius: 2px;
    padding: 2px;
}

.fret, .string, button {
    border: 1px solid #000;
    padding: 5px; /* Reduced padding to make it thinner */
    text-align: center;
    background: linear-gradient(rgba(145, 214, 18, 0.5), rgba(0, 0, 0, 0.6)), url("https://media.istockphoto.com/id/473376034/photo/guitar-and-blank-grunge-background.webp?b=1&s=170667a&w=0&k=20&c=uGhTM3aumEcuLcKKn8UIuKSSr41OBk4xL70R7RpZTac=") center;
    cursor: pointer;
    color: #000;
    border-radius: 5px;
}

.roman {
    font-weight: bold;
    color: #080202; /* White for the fret numbers */
}

.controls button {
    font-family: "Audiowide", sans-serif;
    font-size: 3em;
    text-shadow: 1px 1px 2px rgb(228, 131, 227), 0 0 1em rgb(145, 4, 148), 0 0 0.2em rgb(84, 4, 82);
    margin-top: 4em;
    padding: 5px, 5px;
    border:transparent;
    border-radius: 5px;
    transform: rotate(-21grad);
    cursor: pointer;
    background: transparent;
    -webkit-background-clip: text;
    text-shadow: 1px 2px 1px #da5eb0, 0px 1px 1px #751154, 1em 1px 1em #c4104c, 1px 2px 1px #990ac9, 3px 2px 1px #e43def, 2px 3px 1px #e40b86, 4px 3px 1px #560359, 3px 4px 1px #8d0aa8, 5px 4px 1px #6513c3, 4px 5px 1px #5b0761, 6px 5px 1px #c70fc7, 5px 6px 1px #8b2093, 7px 6px 1px #690d69;
    -moz-transform: rotate(340deg) translate(4px, 60px) skew(-24deg, 5deg);
    -webkit-transform: rotate(340deg) translate(4px, 60px) skew(-24deg, 5deg);
    -o-transform: rotate(340deg) translate(4px, 60px) skew(-24deg, 5deg);
    -ms-transform: rotate(340deg) translate(4px, 60px) skew(-24deg, 5deg);
    transform: rotate(340deg) translate(4px, 60px) skew(-24deg, 5deg);
    h3:hover {
        color: #0d010e;
    }
}