@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap");

.accordion * {
  font-family: "Montserrat Alternates, sans-serif";
  box-sizing: border-box;
}



section a {
  color: #fdfdff;
  opacity: 100%;
  text-decoration: none;
  text-align: center;
  padding: 90px;
  display: block;
  font-size: 1.5em;
  letter-spacing: 10px;
  overflow: hidden;
  border-bottom: 2px dashed #c4e2ffc0;
  font-family: "Montserrat Alternates, sans-serif";
}

section p {
  font-family: "Montserrat Alternates, sans-serif";
  overflow: hidden;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 2s;
}
section p:hover {
  scale: 1.15;
}
iframe {
  width: 100%;
  border: none;
}

section:target p {
  font-family: "Montserrat Alternates, sans-serif";
  height: 17em;
  opacity: 1;
  background: transparent;
}

;

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Lightbox Modal (background) */
.lightbox-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Lightbox Content (image) */
.lightbox-content {
  margin: 50px auto;
  display: block;
  max-width: 620px;

}

/* Close Button */
.lightbox-close {
  position: absolute;
  top: 50%;
  right: 9em;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 30%;
  background-color: #d30000;
}

.lightbox-close:hover,
.lightbox-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}